In [83]:
import csv
import numpy as np
import math as ma
import pandas as pd
import plotly.express as px

In [149]:
video_game_df = pd.read_csv(r'Data/vg_df.csv')
vg_comp_stock = pd.read_csv(r'Data/pubs_STOCKS.csv')

In [126]:
vg_df = video_game_df.copy()

In [150]:
vg_stk = vg_comp_stock.copy()

In [127]:
vg_df = vg_df[vg_df['critic_score'].notna()]

In [128]:
vg_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12495 entries, 3 to 57940
Data columns (total 31 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             12495 non-null  object
 1   console           12495 non-null  object
 2   genre_x           12495 non-null  object
 3   publisher         12495 non-null  object
 4   developer_x       12495 non-null  object
 5   critic_score      12495 non-null  float64
 6   total_sales       9026 non-null   float64
 7   release_date_x    12457 non-null  object
 8   NA_Sales          6923 non-null   float64
 9   EU_Sales          6923 non-null   float64
 10  JP_Sales          6923 non-null   float64
 11  Other_Sales       6923 non-null   float64
 12  Global_Sales      6923 non-null   float64
 13  Critic_Count      6866 non-null   float64
 14  User_Count        6923 non-null   float64
 15  Rating            6851 non-null   object
 16  number_players    1698 non-null   object
 17  positive_critics  2959 non-null   float64
 18  neutral_critics   2959 non-null   float64
 19  negative_critics  2959 non-null   float64
 20  positive_users    2959 non-null   float64
 21  neutral_users     2959 non-null   float64
 22  negative_users    2959 non-null   float64
 23  user_score        9728 non-null   float64
 24  Title             3490 non-null   object
 25  Publisher         3490 non-null   object
 26  Genre             3490 non-null   object
 27  Platform          3490 non-null   object
 28  Metascore         3490 non-null   float64
 29  Avg_Userscore     3490 non-null   float64
 30  No_Players        4550 non-null   object
dtypes: float64(18), object(13)
memory usage: 3.1+ MB

In [130]:
vg_df.loc[ : ,'user_score'] = pd.to_numeric(vg_df['user_score'], errors='coerce')

In [193]:
print(len(vg_df))
print(vg_df['total_sales'].isna().sum())
print(vg_df['critic_score'].isna().sum())
print(vg_df['user_score'].isna().sum())
print(vg_df['User_Count'].isna().sum())

8970
0
0
1140
2079

In [132]:
vg_df = vg_df[vg_df['total_sales'].notna()]

In [133]:
vg_df

,title,console,genre_x,publisher,developer_x,critic_score,total_sales,release_date_x,NA_Sales,EU_Sales,...,neutral_users,negative_users,user_score,Title,Publisher,Genre,Platform,Metascore,Avg_Userscore,No_Players
3,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,94.0,20.32,2013-09-17,7.02,9.09,...,NaN,NaN,82.0,Grand Theft Auto V,RockstarNorth,Modern;Action Adventure;Modern;Open-World,PS3,97.0,83.0,Up to 16
5,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,97.0,19.39,2014-11-18,3.96,6.31,...,71.0,69.0,83.0,Grand Theft Auto V,RockstarNorth,Action Adventure;Modern;Open-World,PS4,97.0,83.0,Up to 30
6,Grand Theft Auto: San Andreas,PS2,Action,Rockstar Games,Rockstar North,95.0,20.81,2004-10-26,9.43,0.40,...,NaN,NaN,90.0,Grand Theft Auto: San Andreas,RockstarNorth,Action Adventure;Modern,PS2,95.0,90.0,1-2
7,Uncharted 4: A Thief's End,PS4,Action,Sony Interactive Entertainment,Naughty Dog,92.0,5.38,2016-05-10,1.85,2.50,...,148.0,68.0,79.0,Uncharted 4: A Thief's End,NaughtyDog,General;Modern;Action Adventure;Linear,PS4,93.0,83.0,Up to 10
8,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,96.0,16.15,2002-10-28,8.41,5.49,...,NaN,NaN,87.0,Grand Theft Auto: Vice City,RockstarNorth,Action Adventure;Modern,PS2,95.0,88.0,1 Player
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57617,Root Letter,PS4,Visual Novel,PQube,Kadokawa Games,69.0,0.03,2016-11-10,0.00,0.00,...,1.0,1.0,75.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57618,Steins;Gate Elite,PS4,Visual Novel,Spike Chunsoft,5pb. Inc.,86.0,0.03,2019-02-19,NaN,NaN,...,0.0,0.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN,No Online Multiplayer
57641,428: Shibuya Scramble,PS4,Visual Novel,Spike Chunsoft,Abstraction Games,85.0,0.02,2018-09-04,NaN,NaN,...,0.0,0.0,73.0,NaN,NaN,NaN,NaN,NaN,NaN,No Online Multiplayer
57671,Chaos;Child,PS4,Visual Novel,PQube,5pb. Inc.,76.0,0.02,2017-10-24,NaN,NaN,...,0.0,0.0,78.0,NaN,NaN,NaN,NaN,NaN,NaN,No Online Multiplayer
57765,Zero Escape: Virtue's Last Reward,PSV,Visual Novel,Aksys Games,ChunSoft,84.0,0.00,2012-10-23,NaN,NaN,...,2.0,2.0,88.0,Zero Escape: Virtue's Last Reward,ChunSoft,Adventure;General;General;Visual Novel,PSV,84.0,88.0,No Online Multiplayer

In [134]:
group = vg_df.groupby(['genre_x'])
group.agg(['mean', 'std', 'count'])['critic_score']

                       mean        std  count
genre_x
Action            66.569075  14.832802   1578
Action-Adventure  73.180791  12.236824    177
Adventure         69.071174  14.234924    562
Board Game        53.000000        NaN      1
Education         75.000000        NaN      1
Fighting          71.087500  13.985552    480
MMO               80.583333   9.672537     24
Misc              66.996109  14.987584    514
Music             76.603448   8.100118     58
Party             60.600000  10.788883     15
Platform          69.813333  13.462065    600
Puzzle            70.842640  12.500229    197
Racing            69.357520  14.142328    758
Role-Playing      73.311111  11.925907    945
Sandbox           92.000000        NaN      1
Shooter           70.787293  15.051490   1086
Simulation        69.453659  13.586958    410
Sports            73.479373  13.594168   1212
Strategy          73.524173  12.080937    393
Visual Novel      74.285714   9.754120     14

In [135]:
vg_df = vg_df[~vg_df.genre_x.str.contains('Board Game|Education|MMO|Party|Sandbox|Visual Novel')]

In [136]:
group = vg_df.groupby(['genre_x'])
group.agg(['mean', 'std', 'count'])['critic_score']

                       mean        std  count
genre_x
Action            66.569075  14.832802   1578
Action-Adventure  73.180791  12.236824    177
Adventure         69.071174  14.234924    562
Fighting          71.087500  13.985552    480
Misc              66.996109  14.987584    514
Music             76.603448   8.100118     58
Platform          69.813333  13.462065    600
Puzzle            70.842640  12.500229    197
Racing            69.357520  14.142328    758
Role-Playing      73.311111  11.925907    945
Shooter           70.787293  15.051490   1086
Simulation        69.453659  13.586958    410
Sports            73.479373  13.594168   1212
Strategy          73.524173  12.080937    393

In [137]:
vg_df.loc[vg_df['critic_score'] == vg_df['critic_score'].min()]

,title,console,genre_x,publisher,developer_x,critic_score,total_sales,release_date_x,NA_Sales,EU_Sales,...,neutral_users,negative_users,user_score,Title,Publisher,Genre,Platform,Metascore,Avg_Userscore,No_Players
2272,Kabuki Warriors,XB,Action,Crave Entertainment,Light Weight,10.0,0.06,2001-11-19,0.05,0.01,...,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37603,Risen 3: Titan Lords Enhanced Edition,PS4,Role-Playing,Deep Silver,Piranha Bytes,10.0,0.07,2015-08-21,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [138]:
# group_pub = vg_df.groupby(['publisher'])
# group_pub.agg(['count'])['title']
#vg_df[vg_df['title'].count() > 3].groupby('publisher')['title'].count()


vg_df.publisher.value_counts().reset_index(name="count").query("count > 28")["index"]

0                            Electronic Arts
1                                    Ubisoft
2                                 Activision
3                                  EA Sports
4                                       Sega
5                                        THQ
6                                   Nintendo
7                Sony Computer Entertainment
8                                     Capcom
9                                     Konami
10                                     Atari
11                               Square Enix
12                                     Atlus
13                              Midway Games
14                         Eidos Interactive
15                                 2K Sports
16                              Namco Bandai
17                               Codemasters
18                                 LucasArts
19                                     Namco
20                                  2K Games
21                     Acclaim Entertainment
22    Warner Bros. Interactive Entertainment
23                        Namco Bandai Games
24                               NIS America
25                    Microsoft Game Studios
26                                   Majesco
27                Disney Interactive Studios
28                                Tecmo Koei
29                            Rockstar Games
30                        Bethesda Softworks
31                  Warner Bros. Interactive
32                               Deep Silver
33                                      KOEI
34                               Xseed Games
35                                  VU Games
36                      Sierra Entertainment
37                                 505 Games
38              Konami Digital Entertainment
39                       Crave Entertainment
40                               Aksys Games
41                              D3 Publisher
42                             EA Sports BIG
43                    Focus Home Interactive
44                         Microsoft Studios
45                                   Natsume
46                                    Bandai
47                                    Agetec
48                                     Tecmo
49                                   Unknown
50                                 Microsoft
51                     SouthPeak Interactive
52            Sony Interactive Entertainment
53                       Paradox Interactive
54                                THQ Nordic
Name: index, dtype: object

Here I made a list of publishers which I edited outside of jupyter to link publishers with the public company.

In [148]:
pubs = np.sort(vg_df['publisher'].unique())

# pubs.to_csv('pubs.csv', index=False) 

# np.savetxt("pubs.csv", pubs, delimiter = ",")

pd.DataFrame(pubs).to_csv("pubs.csv")

In [273]:
vg_comp_stock = pd.read_csv(r'Data/pubs_STOCKS.csv')
vg_stk = vg_comp_stock.copy()


vg_stk.rename(columns=({"0": 'publisher', "Unnamed: 2": 'company', "Unnamed: 3": 'stock'}), inplace=True)


vg_stk = vg_stk.dropna(subset=['stock'])

vg_stk = vg_stk.drop(columns=['Unnamed: 0'])

vg_stk

,publisher,company,stock
2,2K Games,Take Two Interactive,TTWO
3,2K Play,Take Two Interactive,TTWO
4,2K Sports,Take Two Interactive,TTWO
18,Acquire,GungHo Online Entertainment,3765.T
19,Activision,Activision Blizzard,ATVI
20,Activision Value,Activision Blizzard,ATVI
28,Aspyr,Embracer Group,EMBRAC-B.ST
32,Atlus,Sega,SGAMY
36,Bandai,Bandai Namco,7832.T
37,Bandai Namco Entertainment,Bandai Namco,7832.T
38,Bandai Namco Games,Bandai Namco,7832.T
45,Blizzard Entertainment,Activision Blizzard,ATVI
49,Capcom,Capcom,CCOEF
56,Crystal Dynamics,Square Enix,SQNXF
57,D3 Publisher,Bandai Namco,7832.T
58,D3Publisher,Bandai Namco,7832.T
73,EA Sports,EA,EA
74,EA Sports BIG,EA,EA
78,Eidos Interactive,Square Enix,SQNXF
79,Eidos Interactive Ltd,Square Enix,SQNXF
80,Electronic Arts,EA,EA
145,KOEI,KOEI,3635.T
152,Koei Tecmo,KOEI,3635.T
153,Konami,Konami,9766.T
154,Konami Digital Entertainment,Konami,9766.T
172,Maxis,EA,EA
178,Microsoft,Microsoft,MSFT
179,Microsoft Game Studios,Microsoft,MSFT
180,Microsoft Studios,Microsoft,MSFT
190,NCSoft,NCSoft,036570.KS
193,Namco,Bandai Namco,7832.T
194,Namco Bandai,Bandai Namco,7832.T
195,Namco Bandai Games,Bandai Namco,7832.T
202,Nintendo,Nintendo,NTDOY
230,PopCap Games,EA,EA
234,Rare,Microsoft,MSFT
246,Rockstar Games,Take Two Interactive,TTWO
250,SNK,SNK,950180.KS
251,SNK Playmore,SNK,950180.KS
257,Sega,Sega,6460.T
266,Sony Computer Entertainment,Sony,SONY
267,Sony Computer Entertainment America,Sony,SONY
268,Sony Computer Entertainment Europe,Sony,SONY
269,Sony Interactive Entertainment,Sony,SONY
270,Sony Online Entertainment,Sony,SONY
273,Square,Square Enix,SQNXF
274,Square EA,Square Enix,SQNXF
275,Square Enix,Square Enix,SQNXF
286,Taito,Square Enix,SQNXF
287,Take-Two Interactive,Take Two Interactive,TTWO
293,Tecmo,Tecmo,3635.T
297,The Adventure Company,Embracer Group,EMBRAC-B.ST
314,Ubisoft,Ubisoft,UBSFY

In [274]:

left = vg_df.set_index("publisher")
right = vg_stk.set_index("publisher")
vg_test = vg_df.join(vg_stk, lsuffix="_l", rsuffix="_r")
vg_test = vg_df.merge(vg_stk, how='left', on='publisher')

In [275]:
vg_test2 = vg_test.dropna(subset=['total_sales'])
vg_test2 = vg_test.dropna(subset=['critic_score'])
vg_test2 = vg_test.dropna(subset=['stock'])
vg_test2 = vg_test.dropna(subset=['User_Count'])

In [276]:
vg_main = vg_test2.dropna(subset=['stock'])

Removing any row that has an NA in a column.

In [277]:
vg_main = vg_main.dropna(subset=['release_date_x'])

In [257]:
vg_main.tail()

,title,console,genre_x,publisher,developer_x,critic_score,total_sales,release_date_x,NA_Sales,EU_Sales,...,user_score,Title,Publisher,Genre,Platform,Metascore,Avg_Userscore,No_Players,company,stock
8910,Drone Tactics,DS,Strategy,Atlus,Success,74.0,0.02,2008-05-12,0.01,0.00,...,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sega,SGAMY
8912,Impossible Creatures,PC,Strategy,Microsoft Game Studios,Relic,72.0,0.01,2002-12-29,0.00,0.01,...,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft,MSFT
8919,BattleForge,PC,Strategy,Electronic Arts,EA Phenomic,75.0,0.01,2009-03-24,0.00,0.01,...,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EA,EA
8920,Battlestations: Midway,PC,Strategy,Eidos Interactive,Eidos Hungary,77.0,0.01,2007-01-30,0.00,0.01,...,73.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Square Enix,SQNXF
8921,The Eye of Judgment: Legends,PSP,Strategy,Sony Computer Entertainment,SCE Japan Studio,69.0,0.01,2010-03-10,0.00,0.00,...,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sony,SONY

removing some doubled columns. Getting rid of the ones with lots of nulls

In [278]:

#vg_main = vg_main.drop(columns=['Title', 'Publisher' ,'Genre', 'Platform', 'Metascore', 'Avg_Userscore', 'number_players
vg_main = vg_main.drop(columns=['number_players'])
vg_main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4482 entries, 0 to 8921
Data columns (total 32 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             4482 non-null   object
 1   console           4482 non-null   object
 2   genre_x           4482 non-null   object
 3   publisher         4482 non-null   object
 4   developer_x       4482 non-null   object
 5   critic_score      4482 non-null   float64
 6   total_sales       4482 non-null   float64
 7   release_date_x    4482 non-null   object
 8   NA_Sales          4482 non-null   float64
 9   EU_Sales          4482 non-null   float64
 10  JP_Sales          4482 non-null   float64
 11  Other_Sales       4482 non-null   float64
 12  Global_Sales      4482 non-null   float64
 13  Critic_Count      4446 non-null   float64
 14  User_Count        4482 non-null   float64
 15  Rating            4464 non-null   object
 16  positive_critics  513 non-null    float64
 17  neutral_critics   513 non-null    float64
 18  negative_critics  513 non-null    float64
 19  positive_users    513 non-null    float64
 20  neutral_users     513 non-null    float64
 21  negative_users    513 non-null    float64
 22  user_score        4482 non-null   float64
 23  Title             1715 non-null   object
 24  Publisher         1715 non-null   object
 25  Genre             1715 non-null   object
 26  Platform          1715 non-null   object
 27  Metascore         1715 non-null   float64
 28  Avg_Userscore     1715 non-null   float64
 29  No_Players        1840 non-null   object
 30  company           4482 non-null   object
 31  stock             4482 non-null   object
dtypes: float64(18), object(14)
memory usage: 1.1+ MB

In [244]:
# test = vg_main.dropna(thresh=len(vg_main), axis=1)

# for col in test.columns:
#     print(col, test[col].isna().sum())
    
# len(test)

title 0
console 0
genre_x 0
publisher 0
developer_x 0
critic_score 0
total_sales 0
release_date_x 0
NA_Sales 0
EU_Sales 0
JP_Sales 0
Other_Sales 0
Global_Sales 0
User_Count 0
user_score 0

6880

In [280]:
keep_comps = vg_main.company.value_counts().reset_index(name="count").query("count > 20")#["index"]

In [281]:

test2 = vg_main[~vg_main['company'].isin(keep_comps)]

In [282]:
comp_30 = test2.company.value_counts().reset_index(name="count").query("count > 30")["index"]
test3 = test2[test2['company'].isin(comp_30)]

In [283]:
test3

,title,console,genre_x,publisher,developer_x,critic_score,total_sales,release_date_x,NA_Sales,EU_Sales,...,user_score,Title,Publisher,Genre,Platform,Metascore,Avg_Userscore,No_Players,company,stock
0,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,94.0,20.32,2013-09-17,7.02,9.09,...,82.0,Grand Theft Auto V,RockstarNorth,Modern;Action Adventure;Modern;Open-World,PS3,97.0,83.0,Up to 16,Take Two Interactive,TTWO
1,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,97.0,19.39,2014-11-18,3.96,6.31,...,83.0,Grand Theft Auto V,RockstarNorth,Action Adventure;Modern;Open-World,PS4,97.0,83.0,Up to 30,Take Two Interactive,TTWO
2,Grand Theft Auto: San Andreas,PS2,Action,Rockstar Games,Rockstar North,95.0,20.81,2004-10-26,9.43,0.40,...,90.0,Grand Theft Auto: San Andreas,RockstarNorth,Action Adventure;Modern,PS2,95.0,90.0,1-2,Take Two Interactive,TTWO
3,Uncharted 4: A Thief's End,PS4,Action,Sony Interactive Entertainment,Naughty Dog,92.0,5.38,2016-05-10,1.85,2.50,...,79.0,Uncharted 4: A Thief's End,NaughtyDog,General;Modern;Action Adventure;Linear,PS4,93.0,83.0,Up to 10,Sony,SONY
4,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,96.0,16.15,2002-10-28,8.41,5.49,...,87.0,Grand Theft Auto: Vice City,RockstarNorth,Action Adventure;Modern,PS2,95.0,88.0,1 Player,Take Two Interactive,TTWO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8910,Drone Tactics,DS,Strategy,Atlus,Success,74.0,0.02,2008-05-12,0.01,0.00,...,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sega,SGAMY
8912,Impossible Creatures,PC,Strategy,Microsoft Game Studios,Relic,72.0,0.01,2002-12-29,0.00,0.01,...,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft,MSFT
8919,BattleForge,PC,Strategy,Electronic Arts,EA Phenomic,75.0,0.01,2009-03-24,0.00,0.01,...,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EA,EA
8920,Battlestations: Midway,PC,Strategy,Eidos Interactive,Eidos Hungary,77.0,0.01,2007-01-30,0.00,0.01,...,73.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Square Enix,SQNXF
8921,The Eye of Judgment: Legends,PSP,Strategy,Sony Computer Entertainment,SCE Japan Studio,69.0,0.01,2010-03-10,0.00,0.00,...,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sony,SONY

In [286]:
test3['company'].unique()

array(['Take Two Interactive', 'Sony', 'Konami', 'Ubisoft', 'Square Enix',
       'Capcom', 'EA', 'Activision Blizzard', 'Nintendo', 'Microsoft',
       'Bandai Namco', 'KOEI', 'Sega', 'Tecmo'], dtype=object)

In [287]:
test3.to_csv('Data/vg_complete_df.csv', index=False)

In [269]:
# test2 = test.drop(thresh=len(vg_main), axis=1)

# for col in test.columns:
     print(col, test[col].isna().sum())
    
len(test)   


# group = test.groupby(['company'])
# group.agg(['mean', 'count'])['critic_score']

IndentationError: unexpected indent (<ipython-input-269-65e2adca6baf>, line 4)

In [270]:
group = vg_test2.groupby(['company', 'genre_x'])
group.agg(['mean', 'count'])['critic_score']

                                           mean  count
company             genre_x
Activision Blizzard Action            64.355372    121
                    Action-Adventure  67.000000      6
                    Adventure         55.000000      1
                    Fighting          70.600000      5
                    Misc              73.288462     52
...                                         ...    ...
Ubisoft             Role-Playing      69.388889     18
                    Shooter           72.098765     81
                    Simulation        68.064516     31
                    Sports            57.074074     27
                    Strategy          69.111111     18

[188 rows x 2 columns]

In [194]:
print(len(vg_test))
print(vg_test['stock'].isna().sum())
print(vg_test['User_Count'].isna().sum())

8970
3356
2079

No clue what I was doing here. Got to redo some stuff.

In [211]:
# transforms = [dict(
#     type = 'groupby',
#     groups = 'genre_x',
# #     styles = [
# #         dict(target = 'Moe', value = dict(marker = dict(color = 'blue'))),
# #         dict(target = 'Larry', value = dict(marker = dict(color = 'red'))),
# #         dict(target = 'Curly', value = dict(marker = dict(color = 'black')))
# #     ]
#   )]


fig = px.scatter(group, x='critic_score', y='user_score', hover_data=['title']
               , transforms = [dict(
    type = 'groupby',
    groups = 'genre_x',
#     styles = [
#         dict(target = 'Moe', value = dict(marker = dict(color = 'blue'))),
#         dict(target = 'Larry', value = dict(marker = dict(color = 'red'))),
#         dict(target = 'Curly', value = dict(marker = dict(color = 'black')))
#     ]
  )] )
fig.show()

TypeError: scatter() got an unexpected keyword argument 'transforms'

In [267]:
comp_30 = vg_main.company.value_counts().reset_index(name="count").query("count > 30")["index"]

0                       EA
1      Activision Blizzard
2                  Ubisoft
3                     Sega
4             Bandai Namco
5                     Sony
6     Take Two Interactive
7                 Nintendo
8              Square Enix
9                   Konami
10                  Capcom
11               Microsoft
12                    KOEI
13                   Tecmo
Name: index, dtype: object