In [1]:
import csv
import numpy as np
import math as ma
import pandas as pd
import plotly.express as px

In [2]:
video_game_df = pd.read_csv(r'Data/vg_df.csv')
vg_comp_stock = pd.read_csv(r'Data/pubs_STOCKS.csv')

In [3]:
vg_df = video_game_df.copy()

In [4]:
vg_stk = vg_comp_stock.copy()

In [5]:
vg_df = vg_df[vg_df['critic_score'].notna()]

In [6]:
vg_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12146 entries, 3 to 57940
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   title            12146 non-null  object
 1   console          12146 non-null  object
 2   genre_x          12146 non-null  object
 3   publisher        12146 non-null  object
 4   developer_x      12146 non-null  object
 5   critic_score     12146 non-null  float64
 6   total_shipped    1117 non-null   float64
 7   total_sales      8909 non-null   float64
 8   Year_of_Release  6805 non-null   float64
 9   Global_Sales     6923 non-null   float64
 10  User_Count       6923 non-null   float64
 11  game             2959 non-null   object
 12  platform         2959 non-null   object
 13  number_players   1698 non-null   object
 14  rating           2440 non-null   object
 15  metascore        2959 non-null   float64
 16  user_score       9379 non-null   float64
 17  release_date     12112 non-null  object
 18  No_Players       4203 non-null   object
dtypes: float64(8), object(11)
memory usage: 1.9+ MB

In [7]:
#vg_df.loc[ : ,'user_score'] = pd.to_numeric(vg_df['user_score'], errors='coerce')

In [8]:
print(len(vg_df))
print(vg_df['total_sales'].isna().sum())
print(vg_df['critic_score'].isna().sum())
print(vg_df['user_score'].isna().sum())
print(vg_df['User_Count'].isna().sum())

12146
3237
0
2767
5223

In [9]:
vg_df = vg_df[vg_df['total_sales'].notna()]

In [10]:
vg_df

,title,console,genre_x,publisher,developer_x,critic_score,total_shipped,total_sales,Year_of_Release,Global_Sales,User_Count,game,platform,number_players,rating,metascore,user_score,release_date,No_Players
3,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,95.50,NaN,21.04,2013.0,21.04,3994.0,NaN,NaN,NaN,NaN,NaN,82.50,2013-09-17,Up to 16
5,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,97.00,NaN,12.61,2014.0,12.61,2899.0,Grand Theft Auto V,PS4,Up to 30,M,97.0,83.00,2014-11-18,Up to 30
6,Grand Theft Auto: San Andreas,PS2,Action,Rockstar Games,Rockstar North,95.00,17.30,20.81,2004.0,20.81,1588.0,NaN,NaN,NaN,NaN,NaN,90.00,2004-10-26,1-2
7,Uncharted 4: A Thief's End,PS4,Action,Sony Interactive Entertainment,Naughty Dog,92.75,16.25,5.38,2016.0,5.38,7064.0,Uncharted 4: A Thief's End,PS4,Up to 10,T,93.0,82.25,2016-05-10,Up to 10
8,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,95.50,NaN,16.15,2002.0,16.15,730.0,NaN,NaN,NaN,NaN,NaN,87.50,2002-10-28,1 Player
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57617,Root Letter,PS4,Visual Novel,PQube,Kadokawa Games,68.50,NaN,0.01,2016.0,0.01,11.0,Root Letter,PS4,NaN,NaN,68.0,71.50,2016-11-10,NaN
57618,Steins;Gate Elite,PS4,Visual Novel,Spike Chunsoft,5pb. Inc.,86.00,NaN,0.03,NaN,NaN,NaN,Steins;Gate Elite,PS4,No Online Multiplayer,M,86.0,73.00,2019-02-19,No Online Multiplayer
57641,428: Shibuya Scramble,PS4,Visual Novel,Spike Chunsoft,Abstraction Games,85.00,NaN,0.02,NaN,NaN,NaN,428: Shibuya Scramble,PS4,No Online Multiplayer,T,85.0,73.00,2018-09-04,No Online Multiplayer
57671,Chaos;Child,PS4,Visual Novel,PQube,5pb. Inc.,76.00,NaN,0.02,NaN,NaN,NaN,Chaos;Child,PS4,No Online Multiplayer,M,76.0,78.00,2017-10-24,No Online Multiplayer
57765,Zero Escape: Virtue's Last Reward,PSV,Visual Novel,Aksys Games,ChunSoft,84.00,NaN,0.00,NaN,NaN,NaN,Zero Escape: Virtue's Last Reward,PSV,No Online Multiplayer,M,84.0,88.00,2012-10-23,No Online Multiplayer

In [11]:
group = vg_df.groupby(['genre_x'])
group.agg(['mean', 'std', 'count'])['critic_score']

                       mean        std  count
genre_x
Action            66.398184  14.652282   1569
Action-Adventure  72.649148  12.154516    176
Adventure         68.733182  14.058631    550
Board Game        53.000000        NaN      1
Education         71.000000        NaN      1
Fighting          70.773885  13.957633    471
MMO               80.666667   9.471544     24
Misc              66.883858  14.828533    508
Music             76.178571   7.903497     56
Party             60.083333  10.924525     15
Platform          69.688235  13.241114    595
Puzzle            70.519531  12.455915    192
Racing            69.180054  13.980563    747
Role-Playing      73.208289  11.908320    935
Sandbox           92.000000        NaN      1
Shooter           70.603778  14.849428   1072
Simulation        69.213400  13.500877    403
Sports            73.465029  13.430792   1201
Strategy          73.068122  11.892303    378
Visual Novel      74.142857   9.596531     14

In [14]:
vg_df = vg_df[~vg_df.genre_x.str.contains('Board Game|Education|MMO|Music|Party|Sandbox|Visual Novel')]

In [15]:
group = vg_df.groupby(['genre_x'])
group.agg(['mean', 'std', 'count'])['critic_score']

                       mean        std  count
genre_x
Action            66.398184  14.652282   1569
Action-Adventure  72.649148  12.154516    176
Adventure         68.733182  14.058631    550
Fighting          70.773885  13.957633    471
Misc              66.883858  14.828533    508
Platform          69.688235  13.241114    595
Puzzle            70.519531  12.455915    192
Racing            69.180054  13.980563    747
Role-Playing      73.208289  11.908320    935
Shooter           70.603778  14.849428   1072
Simulation        69.213400  13.500877    403
Sports            73.465029  13.430792   1201
Strategy          73.068122  11.892303    378

In [16]:
vg_df.loc[vg_df['critic_score'] == vg_df['critic_score'].min()]

,title,console,genre_x,publisher,developer_x,critic_score,total_shipped,total_sales,Year_of_Release,Global_Sales,User_Count,game,platform,number_players,rating,metascore,user_score,release_date,No_Players
37603,Risen 3: Titan Lords Enhanced Edition,PS4,Role-Playing,Deep Silver,Piranha Bytes,10.0,NaN,0.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015-08-21,NaN

In [17]:
# group_pub = vg_df.groupby(['publisher'])
# group_pub.agg(['count'])['title']
#vg_df[vg_df['title'].count() > 3].groupby('publisher')['title'].count()


vg_df.publisher.value_counts().reset_index(name="count").query("count > 28")["index"]

0                            Electronic Arts
1                                    Ubisoft
2                                 Activision
3                                  EA Sports
4                                       Sega
5                                        THQ
6                                   Nintendo
7                Sony Computer Entertainment
8                                     Capcom
9                                     Konami
10                                     Atari
11                               Square Enix
12                                     Atlus
13                              Midway Games
14                         Eidos Interactive
15                                 2K Sports
16                              Namco Bandai
17                               Codemasters
18                                 LucasArts
19                                     Namco
20                                  2K Games
21    Warner Bros. Interactive Entertainment
22                        Namco Bandai Games
23                     Acclaim Entertainment
24                               NIS America
25                    Microsoft Game Studios
26                                   Majesco
27                            Rockstar Games
28                                Tecmo Koei
29                Disney Interactive Studios
30                        Bethesda Softworks
31                  Warner Bros. Interactive
32                               Deep Silver
33                                      KOEI
34                               Xseed Games
35                                  VU Games
36                                 505 Games
37              Konami Digital Entertainment
38                      Sierra Entertainment
39                       Crave Entertainment
40                               Aksys Games
41                              D3 Publisher
42                    Focus Home Interactive
43                             EA Sports BIG
44                         Microsoft Studios
45                                   Natsume
46                                    Bandai
47                                    Agetec
48                                     Tecmo
49                                   Unknown
50                     SouthPeak Interactive
51            Sony Interactive Entertainment
52                                THQ Nordic
Name: index, dtype: object

Here I made a list of publishers which I edited outside of jupyter to link publishers with the public company.

In [148]:
pubs = np.sort(vg_df['publisher'].unique())

# pubs.to_csv('pubs.csv', index=False) 

# np.savetxt("pubs.csv", pubs, delimiter = ",")

pd.DataFrame(pubs).to_csv(r'Data/pubs.csv')

In [288]:
vg_comp_stock = pd.read_csv(r'Data/pubs_STOCKS.csv')
vg_stk = vg_comp_stock.copy()


vg_stk.rename(columns=({"0": 'publisher', "Unnamed: 2": 'company', "Unnamed: 3": 'stock'}), inplace=True)


vg_stk = vg_stk.dropna(subset=['stock'])

vg_stk = vg_stk.drop(columns=['Unnamed: 0'])

vg_stk

pd.DataFrame(vg_stk).to_csv(r'Data/VG_Stocks.csv')

In [274]:

left = vg_df.set_index("publisher")
right = vg_stk.set_index("publisher")
vg_test = vg_df.join(vg_stk, lsuffix="_l", rsuffix="_r")
vg_test = vg_df.merge(vg_stk, how='left', on='publisher')

In [275]:
vg_test2 = vg_test.dropna(subset=['total_sales'])
vg_test2 = vg_test.dropna(subset=['critic_score'])
vg_test2 = vg_test.dropna(subset=['stock'])
vg_test2 = vg_test.dropna(subset=['User_Count'])

In [276]:
vg_main = vg_test2.dropna(subset=['stock'])

Removing any row that has an NA in a column.

In [277]:
vg_main = vg_main.dropna(subset=['release_date_x'])

In [257]:
vg_main.tail()

,title,console,genre_x,publisher,developer_x,critic_score,total_sales,release_date_x,NA_Sales,EU_Sales,...,user_score,Title,Publisher,Genre,Platform,Metascore,Avg_Userscore,No_Players,company,stock
8910,Drone Tactics,DS,Strategy,Atlus,Success,74.0,0.02,2008-05-12,0.01,0.00,...,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sega,SGAMY
8912,Impossible Creatures,PC,Strategy,Microsoft Game Studios,Relic,72.0,0.01,2002-12-29,0.00,0.01,...,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft,MSFT
8919,BattleForge,PC,Strategy,Electronic Arts,EA Phenomic,75.0,0.01,2009-03-24,0.00,0.01,...,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EA,EA
8920,Battlestations: Midway,PC,Strategy,Eidos Interactive,Eidos Hungary,77.0,0.01,2007-01-30,0.00,0.01,...,73.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Square Enix,SQNXF
8921,The Eye of Judgment: Legends,PSP,Strategy,Sony Computer Entertainment,SCE Japan Studio,69.0,0.01,2010-03-10,0.00,0.00,...,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sony,SONY

removing some doubled columns. Getting rid of the ones with lots of nulls

In [278]:

#vg_main = vg_main.drop(columns=['Title', 'Publisher' ,'Genre', 'Platform', 'Metascore', 'Avg_Userscore', 'number_players
vg_main = vg_main.drop(columns=['number_players'])
vg_main.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4482 entries, 0 to 8921
Data columns (total 32 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   title             4482 non-null   object
 1   console           4482 non-null   object
 2   genre_x           4482 non-null   object
 3   publisher         4482 non-null   object
 4   developer_x       4482 non-null   object
 5   critic_score      4482 non-null   float64
 6   total_sales       4482 non-null   float64
 7   release_date_x    4482 non-null   object
 8   NA_Sales          4482 non-null   float64
 9   EU_Sales          4482 non-null   float64
 10  JP_Sales          4482 non-null   float64
 11  Other_Sales       4482 non-null   float64
 12  Global_Sales      4482 non-null   float64
 13  Critic_Count      4446 non-null   float64
 14  User_Count        4482 non-null   float64
 15  Rating            4464 non-null   object
 16  positive_critics  513 non-null    float64
 17  neutral_critics   513 non-null    float64
 18  negative_critics  513 non-null    float64
 19  positive_users    513 non-null    float64
 20  neutral_users     513 non-null    float64
 21  negative_users    513 non-null    float64
 22  user_score        4482 non-null   float64
 23  Title             1715 non-null   object
 24  Publisher         1715 non-null   object
 25  Genre             1715 non-null   object
 26  Platform          1715 non-null   object
 27  Metascore         1715 non-null   float64
 28  Avg_Userscore     1715 non-null   float64
 29  No_Players        1840 non-null   object
 30  company           4482 non-null   object
 31  stock             4482 non-null   object
dtypes: float64(18), object(14)
memory usage: 1.1+ MB

In [244]:
# test = vg_main.dropna(thresh=len(vg_main), axis=1)

# for col in test.columns:
#     print(col, test[col].isna().sum())
    
# len(test)

title 0
console 0
genre_x 0
publisher 0
developer_x 0
critic_score 0
total_sales 0
release_date_x 0
NA_Sales 0
EU_Sales 0
JP_Sales 0
Other_Sales 0
Global_Sales 0
User_Count 0
user_score 0

6880

In [280]:
keep_comps = vg_main.company.value_counts().reset_index(name="count").query("count > 20")#["index"]

In [281]:

test2 = vg_main[~vg_main['company'].isin(keep_comps)]

In [282]:
comp_30 = test2.company.value_counts().reset_index(name="count").query("count > 30")["index"]
test3 = test2[test2['company'].isin(comp_30)]

In [283]:
test3

,title,console,genre_x,publisher,developer_x,critic_score,total_sales,release_date_x,NA_Sales,EU_Sales,...,user_score,Title,Publisher,Genre,Platform,Metascore,Avg_Userscore,No_Players,company,stock
0,Grand Theft Auto V,PS3,Action,Rockstar Games,Rockstar North,94.0,20.32,2013-09-17,7.02,9.09,...,82.0,Grand Theft Auto V,RockstarNorth,Modern;Action Adventure;Modern;Open-World,PS3,97.0,83.0,Up to 16,Take Two Interactive,TTWO
1,Grand Theft Auto V,PS4,Action,Rockstar Games,Rockstar North,97.0,19.39,2014-11-18,3.96,6.31,...,83.0,Grand Theft Auto V,RockstarNorth,Action Adventure;Modern;Open-World,PS4,97.0,83.0,Up to 30,Take Two Interactive,TTWO
2,Grand Theft Auto: San Andreas,PS2,Action,Rockstar Games,Rockstar North,95.0,20.81,2004-10-26,9.43,0.40,...,90.0,Grand Theft Auto: San Andreas,RockstarNorth,Action Adventure;Modern,PS2,95.0,90.0,1-2,Take Two Interactive,TTWO
3,Uncharted 4: A Thief's End,PS4,Action,Sony Interactive Entertainment,Naughty Dog,92.0,5.38,2016-05-10,1.85,2.50,...,79.0,Uncharted 4: A Thief's End,NaughtyDog,General;Modern;Action Adventure;Linear,PS4,93.0,83.0,Up to 10,Sony,SONY
4,Grand Theft Auto: Vice City,PS2,Action,Rockstar Games,Rockstar North,96.0,16.15,2002-10-28,8.41,5.49,...,87.0,Grand Theft Auto: Vice City,RockstarNorth,Action Adventure;Modern,PS2,95.0,88.0,1 Player,Take Two Interactive,TTWO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8910,Drone Tactics,DS,Strategy,Atlus,Success,74.0,0.02,2008-05-12,0.01,0.00,...,74.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sega,SGAMY
8912,Impossible Creatures,PC,Strategy,Microsoft Game Studios,Relic,72.0,0.01,2002-12-29,0.00,0.01,...,80.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft,MSFT
8919,BattleForge,PC,Strategy,Electronic Arts,EA Phenomic,75.0,0.01,2009-03-24,0.00,0.01,...,70.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EA,EA
8920,Battlestations: Midway,PC,Strategy,Eidos Interactive,Eidos Hungary,77.0,0.01,2007-01-30,0.00,0.01,...,73.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Square Enix,SQNXF
8921,The Eye of Judgment: Legends,PSP,Strategy,Sony Computer Entertainment,SCE Japan Studio,69.0,0.01,2010-03-10,0.00,0.00,...,79.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Sony,SONY

In [286]:
test3['company'].unique()

array(['Take Two Interactive', 'Sony', 'Konami', 'Ubisoft', 'Square Enix',
       'Capcom', 'EA', 'Activision Blizzard', 'Nintendo', 'Microsoft',
       'Bandai Namco', 'KOEI', 'Sega', 'Tecmo'], dtype=object)

In [287]:
test3.to_csv('Data/vg_complete_df.csv', index=False)

In [269]:
# test2 = test.drop(thresh=len(vg_main), axis=1)

# for col in test.columns:
     print(col, test[col].isna().sum())
    
len(test)   


# group = test.groupby(['company'])
# group.agg(['mean', 'count'])['critic_score']

IndentationError: unexpected indent (<ipython-input-269-65e2adca6baf>, line 4)

In [270]:
group = vg_test2.groupby(['company', 'genre_x'])
group.agg(['mean', 'count'])['critic_score']

                                           mean  count
company             genre_x
Activision Blizzard Action            64.355372    121
                    Action-Adventure  67.000000      6
                    Adventure         55.000000      1
                    Fighting          70.600000      5
                    Misc              73.288462     52
...                                         ...    ...
Ubisoft             Role-Playing      69.388889     18
                    Shooter           72.098765     81
                    Simulation        68.064516     31
                    Sports            57.074074     27
                    Strategy          69.111111     18

[188 rows x 2 columns]

In [194]:
print(len(vg_test))
print(vg_test['stock'].isna().sum())
print(vg_test['User_Count'].isna().sum())

8970
3356
2079

No clue what I was doing here. Got to redo some stuff.

In [211]:
# transforms = [dict(
#     type = 'groupby',
#     groups = 'genre_x',
# #     styles = [
# #         dict(target = 'Moe', value = dict(marker = dict(color = 'blue'))),
# #         dict(target = 'Larry', value = dict(marker = dict(color = 'red'))),
# #         dict(target = 'Curly', value = dict(marker = dict(color = 'black')))
# #     ]
#   )]


fig = px.scatter(group, x='critic_score', y='user_score', hover_data=['title']
               , transforms = [dict(
    type = 'groupby',
    groups = 'genre_x',
#     styles = [
#         dict(target = 'Moe', value = dict(marker = dict(color = 'blue'))),
#         dict(target = 'Larry', value = dict(marker = dict(color = 'red'))),
#         dict(target = 'Curly', value = dict(marker = dict(color = 'black')))
#     ]
  )] )
fig.show()

TypeError: scatter() got an unexpected keyword argument 'transforms'

In [267]:
comp_30 = vg_main.company.value_counts().reset_index(name="count").query("count > 30")["index"]

0                       EA
1      Activision Blizzard
2                  Ubisoft
3                     Sega
4             Bandai Namco
5                     Sony
6     Take Two Interactive
7                 Nintendo
8              Square Enix
9                   Konami
10                  Capcom
11               Microsoft
12                    KOEI
13                   Tecmo
Name: index, dtype: object